
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "Default")
<body>

    @Html.Action("PartialNavbarInfo", "Default")
    @Html.Action("PartialNavbar", "Default")
    <!-- END nav -->


    @RenderBody()

    <footer class="ftco-footer ftco-no-pb ftco-section">
        <div class="container">
            <div class="row mb-5">

                @Html.Action("PartialTasteit", "Default")
                @Html.Action("PartialOpenHours", "Default")
                @Html.Action("PartialInstagramImage", "Default")
                @Html.Action("PartialBulten", "Default")
            </div>
        </div>
        @Html.Action("PartialFooter", "Default")
    </footer>

    @Html.Action("PartialScript", "Default")


</body>
</html>